body {
    background: #f6f6f6;
    font-family: Arial;
}


.col_icon1 {
    position: absolute;
    bottom: 40%;

}

.product-item {
    padding-top: 100px;
}

.img-left {
    width: 500px;

    float: left;
}

.img-right {
    width: 500px;
    float: left;
}

.image-logo {
    float: left;
    width: 100%;
    border: 1px solid rgb(255, 195, 74);
}

.img-left img {
    width: 100%;

}

.img-right img {
    width: 100%;

}

.img-footer {
    width: 300px;


}

.img-footer img {
    width: 100%;
}

.widget-title {
    font-size: 20px;
    font-weight: 600;


}

.textwidget {
    font-size: 18px;


}

.textwidget a {
    text-decoration: none;
}

/* contact page */
.section-title {
    font-weight: 600;
    color: #4d6b57;
    margin-bottom: 20px;

}

.form-control,
.form-select {
    border-radius: 4px;


}

.btn-send {
    color: #ffffff;
    background-color: #4d6b57;
    border-radius: 4px;

}

.btn-send:hover {
    background-color: #3c5445;

}

.accodion-button {
    font-weight: 500;
    color: #3c5445;

}

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: #3c5445;
}

.box {
    background-color: white;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgb(29, 29, 29);
}

/* Slide-content skill english */
.news-section {
    padding: 70px 0;
}

.news-card {
    background: #fff;
    border: none;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .08);
    height: 100%;
}

.news-card:hover {
    transform: translateY(-8px);
}

.image-box {
    position: relative;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 295px;
    object-fit: cover;
    transition: .5s;
}

.news-card:hover img {
    transform: scale(1.06);
}

.date-badge {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #446b9d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

.date-badge span:first-child {
    font-size: 28px;
    line-height: 24px;
}

.date-badge span:last-child {
    font-size: 15px;
}

.card-body {
    padding: 30px;
    text-align: center;
}

.news-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    color: #2d3b55;
}

.divider {
    width: 45px;
    height: 3px;
    background: #ddd;
    margin: 20px auto;
}

.news-text {
    font-size: 22px;
    line-height: 1.7;
    color: #6d6d6d;
}

.carousel-control-prev,
.carousel-control-next {
    width: 60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
    padding: 25px;
}

@media(max-width:992px) {
    .news-title {
        font-size: 22px;
    }

    .news-text {
        font-size: 18px;
    }
}